*
{
	margin:0;
	padding:0;
}
body
{
	width: 80%;
	margin: auto;
	background-color: #F8EDE1; 
}
.toBuy
{
	color: green;
	font-weight: bold;
	background-color: #F6D4B0;
}
.purchased
{
	color: red;
	font-style: italic;
	background-color: #e0e0eb;
	text-decoration: line-through;
}
ul
{
	list-style-type: none;
	width: 70%;
	margin: auto;
}
li
{
	text-align: center;
	padding: 20px;
	font-size: 1.5em;
}
form
{
	width: 70%;
	padding: 40px 0;
	margin: auto;
	background-color: #FBB76E;
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 10px;
}
#addItem
{
	width: 50%;
	height: 50px;
	font-size: 1.25em;
	
}

#addButton
{
	margin-top: 10px;
	width: 80%;
	height: 50px;
	background-color: #5C3000;
	color: white;
	font-size: 1.5em;
}
header
{
	width: 70%;
	margin: 50px auto;
	font-size: 4em;
	text-align: center;
	font-family: 'Ranga', cursive;
}